form {
  margin: auto;
  margin-top: 150px;
  height: fit-content;
  width: $content-width;
  display: flex;
  flex-direction: column;
}

.form_input {
  margin-bottom: 20px!important;
}

.form_amount {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form_link {
  margin-top: 20px;
  text-align: center;
  color: $color-primary;
}
