form {
  margin: auto;
  height: 400px;
  width: $content-width;
  display: flex;
  flex-direction: column;
}

.form_input {
  margin-bottom: 20px!important;
}

.form_amount {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
