.total_amount {
  margin-top: 20px;
  margin-bottom: 40px;
}
.total_container {
  height: 213px;
  padding-top: 50px;
}

.statistics {
  margin: 0 auto;
  margin-top: 15px;
  width: $content-width;
}
