.transaction {
    width: $content-width;
    margin: 25px auto 0;
  &_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &_sort {
    padding: 30px 0;
    color: $color-primary-light;
    text-transform: uppercase;
  }
  &_lists {
    margin-top: 10px;
    overflow: hidden;
    li {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color-black-light;
    }
    h3 {
      font-weight: 300;
      margin-bottom: 5px;
    }
    p {
      color: $color-black-light;
    }
    .negative {
      color: $color-secondary;
    }
    .positive {
      color: $color-primary;
    }
  }
  &_circular {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
}
