// Color
$color-primary: #65BCBF;
$color-primary-light: #7bced1;
$color-secondary: #F4B202;
$color-black: #515758;
$color-black-light: #939494;
$color-white:#FDFDFD;

// Typography
.heading-primary {
  font-size: 40px;
  font-weight: 300;
}
.heading-secondary {
  font-size: 34px;
  font-weight: 600;
}
.heading-tertiary {font-size: 24px;}
.heading-subtitle {font-size: 20px;}
.font-btn {font-size: 18px;}
.font-text {font-size: 16px;}

// util
$content-width: 350px;
$navi-width: 240px;
